html {
    box-sizing: border-box;
}

 *,
 *::before,
 *,
 *::after {
    box-sizing: inherit;
 }


:root {
--main-font: "Roboto", sans-serif;
--primery-text-color: #2E2F42;
--second-text-color: #434455;
--accent-color: #E7E9FC;
--base-background-color: #fff;
--hero-background-rgba:rgba(46, 47, 66, 0.7); 
--img-background-rgba: rgba(77, 90, 229, 0.1);
--transition-duration-funct: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
body {
font-family: var(--main-font), sans-serif;
background-color:var(--base-background-color);
color: var(--primery-text-color);
letter-spacing: 0.02em;
margin: 0;
}
        
ul {
list-style: none;
margin: 0;
margin: 0;
padding: 0;
}

header {
background-color: var(--base-background-color);
border-bottom: 1px solid #E7E9FC;
}

section {
padding-top: 72px;
padding-bottom: 120px;
    }

footer {
background-color:var(--primery-text-color);
}

.h1.hero-title {
margin: 0;
}


.logo {
display: flex;
align-items: center;
font-family: "Raleway", sans-serif;
color:#4D5AE5;
width: 44px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.14;
}

.logo-second {
color: #2E2F42;
font-family: "Raleway";
font-weight: 800;
width: 48px;
font-size: 18px;
line-height: 1.14;
text-decoration: none;
text-transform: uppercase;
}
    
.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
/* outline: 2px solid tomato; */
} 

    /* site-nav */
.site-nav, .auth-nav {
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.site-nav .item {
margin-right: 40px;
}
.site-nav .item:last-child {
margin-right: 0;
}
        
.site-nav .link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 500;
text-decoration: none;
font-size: 16px;
line-height: 1.28;
transition: color var(--transition-duration-funct);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: blue;
 }

.auth-nav .item + .item {
margin-left: 40px;
    }

.auth-nav .link {
color: var(--second-text-color);
font-weight: 400;
text-decoration: none;
font-size: 16px;
line-height: 1.5;
transition: color var(--transition-duration-funct);
}
        
.auth-nav .link:hover, 
.auth-nav .link:focus {
color: blue;
} 
        
/* Container header-nav */

.header-main {
display: flex;
align-items: center;
    }

.header-nav {
display: flex;
align-items: center;
}

.site-nav {
display: flex;
align-items: center;
margin-left: 176px;
position: relative;
}

.item {
position: relative;
}

.active-one::after {
content: "";
position: absolute;
display: block;
left: 0;
bottom: 0;
width: 48px;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
bottom: -1px;
    }


.active::after {
content: "";
position: absolute;
display: block;
left: 0;
bottom: 0;
width: 66px;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
bottom: -1px;
}

.auth-nav {
display: flex;
align-items: center;
margin-left: auto;
}

/* hero */
        
.hero {
padding-top: 188px; 
padding-bottom: 188px;
background-color: var(--primery-text-color);
text-align: center;
max-width: 1440px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient( to right, 
var(--hero-background-rgba), 
var(--hero-background-rgba) ),
 url(../images/people-office.jpg);
background-position: center;
background-repeat: no-repeat;
}
        
.hero-title {
margin-top: 0;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: inherit;
color:#fff;
font-weight: 700;
max-width: 496px;
font-size: 56px;
line-height: 1.07;
text-align: center;
}   

.modal-btn {
display: inline-block;
flex-direction: row;
align-items: center;
padding:  16px 32px;
outline: none;
color: #fff;
background-color: #4D5AE5;
border-style: none;
font-family: inherit;
min-width: 170px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.04em;
cursor: pointer; 
text-align: center;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 2px 1px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
transition: background-color var(--transition-duration-funct),
color var(--transition-duration-funct),
box-shadow var(--transition-duration-funct);
}
 

.modal-btn:hover,
.modal-btn:focus {
outline: none;
background-color: #fff;
color: #4D5AE5;
    }
        
    /* секция BOX преимущества */
        
.box {
display: flex;
gap: 24px;
margin: 0;
padding-left: 0px;
 }

 .icon-list {
display: flex;
justify-content: center;
align-items: center;
height: 112px;
width: 264px;
border-radius: 4px;
background-color:#F4F4FD;;
margin-bottom: 8px;
  }

.box-item:nth-child(4n) {
margin-right: 0;
}

.title-none {
overflow: hidden;
} 

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
overflow: hidden;
 }

.box-title {
/* padding-top: 120px; */
margin-top: 0;
margin-bottom: 0;
width: 264px;
color: var(--primery-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;  
    }
        
.box-text {
margin-top: 0;
margin-bottom: 0;
padding-top: 8px;
color: var(--second-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.2;
    }
        
    /* Work-people */

.img {
display: block;
width: 100%;
height: auto;
border: 0;
background-image: ( to right, 
var(--img-background-rgba), 
var(--img-background-rgba) ),;
background-blend-mode: soft-light, normal;
} 

.pictures {
font-weight: 700;
font-size: 36px;
line-height: 0.9;
text-align: center;
text-transform: capitalize;
margin: 0;
padding-bottom: 72px;
    }

.pictures-list {
display: flex;
gap: 24px;
padding: 0;
}

    /* work */

.work-block {
background-color:#F4F4FD;
}

.work-list {
display: flex;
flex-direction: row;
gap: 24px;
padding-left: 0;
}

.work-shadow {
width: 264px;
background-color: var(--base-background-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.social-list {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 24px;
margin: 0;
padding-bottom: 32px;
}

.social-list-item-icon {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color var(--transition-duration-funct);
}

.social-list-icon-item {
fill: #F4F4FD;;
}

.social-list-item-icon:hover,
.social-list-item-icon:focus {
background-color:  #404BBF;
}


.work-tetle {
background-color: var(--base-background-color);
font-weight: 500;
font-size: 20px;
line-height: 0.9;
text-align: center;
margin: 0;
padding-top: 32px;
padding-bottom: 8px;
    }
        
.work-text {
background-color: var(--base-background-color);
font-weight: 400;
font-size: 16px;
line-height: 0.9;
text-align: center;
margin: 0;
padding-bottom: 8px;
    }
    
.logo-block {
background-color: #2E2F42;
margin-right: 120px;
}

.logo-footer {
display: flex;
align-items: center;
padding-left: 0px;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
color:#4D5AE5;
width: 44px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.14;
    }
        
.copy-text {
margin: 0f;
padding: 0px;
color: var(--accent-color);
max-width: 364px; 
font-weight: 400;
font-size: 16px;
line-height: 1.28;
    }
    
    /* Portfolio */
        
.logo-block .second {
color: #fff;
    }
        
    /* menu buttons */
    
.list-buttom {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 30px;
margin: 0;
margin-bottom: 72px;
}

.menu-btn {
display: inline-block;
align-items: center;
border-radius: 4px;
border: 1px solid #E7E9FC;
padding: 12px, 24px;
margin: 0;
min-width: 119px;
height: 48px;
color: #4D5AE5;
background-color: #F4F4FD;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
transition: background-color var(--transition-duration-funct),
color var(--transition-duration-funct),
border var(--transition-duration-funct),
box-shadow var(--transition-duration-funct);
}
        
.menu-btn:hover,
.menu-btn:focus {
background-color: #4D5AE5;
border: 1px solid #4D5AE5;
color: #F4F4FD;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 2px 1px rgba(0, 0, 0, 0.08), 
 0px 2px 2px rgba(0, 0, 0, 0.12);
}
    
    /* section with photo block */
    
.presentation {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 49px;
}

.presentation-list {
width: 360px;
height: 420px;
border-top: transparent;
transition: box-shadow var(--transition-duration-funct);
}

.presentation-blok {
display: block;
font-family: inherit;
text-decoration: none;
width: 360px;
height: 420px;
border-top: 0px;
padding: 0;
margin: 0;
}

.presentation-list:hover,
.presentation-list:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.16), 
 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.presentation-shadow {
background-color: var(--base-background-color);
border: 1px solid #E7E9FC;
border-top: transparent;
}

.presentation-list:nth-child(3n) {
margin-right: 0;
}

.presentation-title {
margin-top: 0;
margin-bottom: 8px;
padding-top: 32px;
padding-left: 16px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    }
        
.presentation-text {
padding-bottom: 32px;
padding-left: 16px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 1.5;
margin: 0;
}

.overlay-wrapper {
position: relative;
overflow: hidden;
}

.overlay {
position: absolute;
left: 0;
top: 0;
transform: translate(0, 100% );
transition: transform var(--transition-duration-funct);
margin: 0;
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 164px;
width: 100%;
height: 100%;
background-color: #4D5AE5;
font-family: inherit;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
}

.presentation-list:hover .overlay {
transform: translate(0, 0);
}

/* customers */

.customers {
font-family: inherit;
color: var(--primery-text-color);
font-weight: 700;
font-style: normal;
font-size: 36px;
line-height: 1.11;
text-align: center;
margin: 0;
padding-top: 130px;
padding-bottom: 72px;
background-color: var(--base-background-color);
}

.customers-list {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
padding-bottom: 120px;
}

.customers-item {
width: 168px;
height: 88px;
border: 1px solid #8E8F99;
border-radius: 4px;
}

.customers-icon-item {
display: flex;
justify-content: center;
align-items: center;
padding: 16px;
fill: #8E8F99;
transition: fill var(--transition-duration-funct),
border var(--transition-duration-funct);
}

.customers-item:hover,
.customers-item:focus {
border: 1px solid #404BBF;
}

.customers-icon-item:hover,
.customers-icon-item:focus {
fill: #404BBF;
}

/* FOOTER social-place" */

.social-place {
padding-top: 100px;
padding-bottom: 100px;
}
    
.social-footer {
margin-right: 80px;
}

.footer-block {
display: flex;
}

.social-footer-title {
margin: 0;
padding-bottom: 16px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
}

.soc-list {
display: flex;
align-items: center;
gap: 16px;
}

.soc-list-item {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
}

.soc-link {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color var(--transition-duration-funct);
}

.soc-link:hover,
.soc-link:focus {
background-color: #31D0AA;
border-radius: 50%;
}

/* SUBSCRIBE-FORM */

.subscribe-h {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin: 0;
padding-bottom: 16px;
}

.form-input-btn {
display: flex;
align-items: center;
gap: 24px;
}


.subscribe-input {
width: 264px;
height: 40px;
background-color: #2E2F42;;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 16px 8px;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
transition: border-color var(--transition-duration-funct);
}

.subscribe-input:hover,
.subscribe-input:focus { 
border-color: #4D5AE5;
}

.subscribe-button {
display: flex;
align-items: center;
text-align: center;
padding: 8px 24px;
min-width: 170px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
background: #4D5AE5;
border-radius: 4px;
border-style: none;
outline: none;
cursor: pointer;
letter-spacing: 0.04em;
transition: background-color var(--transition-duration-funct),
color var(--transition-duration-funct),
box-shadow var(--transition-duration-funct);
}

.subscribe-button:hover,
.subscribe-button:focus {
outline: none;
background-color: #fff;
color: #4D5AE5;
}

.sub-btn-block {
position: relative;
    }  

.subscribe-btn-icon {
position: absolute;
top: 10px;
left: 0;
margin-left: 116px;
fill: #fff;
transition: fill var(--transition-duration-funct),
}

.subscribe-button:hover + .subscribe-btn-icon {
    fill: #4D5AE5;
}

/* BACKDROP */

.backdrop {
position: fixed;
top: 0;
left: 0;
opacity: 1;
z-index: 100;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
transition: opacity var(--transition-duration-funct),
visibility var(--transition-duration-funct);
}

.backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
    }

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
height: 576px;
background-color: #FCFCFC;
padding: 52px 24px 24px 24px;
}

.modal-close-btn {
position: absolute;
top:10px;
right: 10px;
display: flex;
justify-content: center;
align-items: center;
padding: 8px 8px;
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color var(--transition-duration-funct),
border-color var(--transition-duration-funct);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
border-color: #404BBF;
background-color: #4D5AE5;
}

.close-btn-icon {
fill: black;
transition: fill var(--transition-duration-funct);
}

.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
fill:#fff;
}

/* "modal-form */ 

.modal-form-maim-text {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
padding-bottom: 14px;
margin: 0;
}

.modal-form {
display: flex;
flex-direction: column;
}

.modal-form-h {
display: block;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
}

.modal-form-input-wrapper {
position: relative;
}

.modal-form-input-icon {
position: absolute;
top: 50%;
left: 19px;
fill: #2E2F42;
transform: translate(0, -50%);
transition: fill var(--transition-duration-funct);
}

.modal-form-input {
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
background-color:  #FCFCFC;
padding-left: 38px;
margin-bottom: 8px;
transition: border-color var(--transition-duration-funct);
}

.modal-form-input:hover,
.modal-form-input:focus {
outline: none;
border-color: #4D5AE5;
}

.modal-form-input:hover + .modal-form-input-icon,
.modal-form-input:focus + .modal-form-input-icon {
fill: #4D5AE5;
}

.modal-form-commit {
resize: none;
width: 100%;
height: 100%;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
background-color:  #FCFCFC;
color: rgba(117, 117, 117, 0.5);
padding: 8px 16px;
margin-bottom: 16px;
outline: none;
transition: border-color var(--transition-duration-funct);
}

.modal-form-commit:hover,
.modal-form-commit:focus {
outline: none;
border-color: #4D5AE5;}

.modal-form-agree-check {
    /* outline: 1px solid tomato; */
display: flex;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
margin-right: 16px;
margin-bottom: 24px;
}

.modal-form-agree-check::before {
content: "";
display: block;
width: 16px;
height: 16px;
border: 1px solid #000;
cursor: pointer;
border-radius: 4px;
margin-right: 10px;
}

.modal-form-agree:checked + .modal-form-agree-check::before {
background-image: url(../images/galochka.svg);
background-color: #404BBF;
background-position: center;
background-repeat: no-repeat;
border: none;
outline: none;
}

.modal-form-agree:focus + .modal-form-agree-check::before {
outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form-button {
display: flex;
justify-content: center;
align-items: center;
text-align: center; 
padding:  16px 32px;
margin-left: auto;
margin-right: auto;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
border-style: none;
text-decoration: none;
text-transform: none;
width: 169px;
height: 56px;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer; 
transition: background-color var(--transition-duration-funct) ;
}


.modal-form-button:hover,
.modal-form-button:focus {
    background-color: #fff;
    color: #4D5AE5;
}

