html {
    box-sizing: border-box;
}

 *,
 *::before,
 *,
 *::after {
    box-sizing: inherit;
 }

:root {
--main-font: "Roboto", sans-serif;
--primery-text-color: #2E2F42;
--second-text-color: #434455;
--accent-color: #E7E9FC;
--base-background-color: #fff;
--hero-background-rgba:rgba(46, 47, 66, 0.7); 
--img-background-rgba: rgba(77, 90, 229, 0.1);
--transition-duration-funct: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
ul {
list-style: none;
margin: 0;
padding: 0;
    }
   
body {
font-family: var(--main-font), sans-serif;
background-color:var(--base-background-color);
color: var(--primery-text-color);
letter-spacing: 0.02em;
text-transform: none;
text-decoration: none;
margin: 0;
    }
    
.h1.hero-title {
margin: 0;
        }
            

.container {
    padding-left: 15px;
    padding-right: 15px;
} 

/*------ HEADER ---------*/

.header-nav {
    display: flex;
    align-items: center;
padding-top: 24px;
padding-bottom: 24px;
}


.logo {
font-family: 'Raleway';
color:#4D5AE5;
max-width: 71px;
letter-spacing: 0.03em;
font-weight: 800;
text-decoration: none;
text-transform:  uppercase;
font-size: 18px;
line-height: 1.14;
/* display: flex;
 align-items: center;  */
   } 

.logo-second {
color: #2E2F42;
   }
    

.mob-menu-btn {
padding: 0;
border: none;
background-color: transparent;
line-height: 0;
}

.mob-mobile-menu {
position: fixed;
top: 0;
left: 0;
z-index: 1000;
width: 100%;
height: 100%;
background-color: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08);;
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity var(--transition-duration-funct);
visibility: var(--transition-duration-funct);
}
    
.mob-mobile-menu.is-hidden {
opacity: 1;
visibility: visible;
pointer-events: auto;
}


.mob-menu-container {
position: relative; 
margin: 0;
height: 100%;
max-height: 796px;
padding-top: 40px;
padding-bottom: 40px;
}

.mob-menu-btn-close {
position: absolute;
top: 40px;
right: 40px;
display: flex;
justify-content: center;
align-items: center;
padding: 8px 8px;
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color var(--transition-duration-funct),
border-color var(--transition-duration-funct);
    }
    
.mob-menu-btn-close:hover,
.mob-menu-btn-close:focus {
border-color: #404BBF;
background-color: #4D5AE5;
    }
    
 .mob-menu-btn-icon{
fill: black;
transition: fill var(--transition-duration-funct);
    }
    
.mob-menu-btn-close:hover .mob-menu-btn-icon,
.mob-menu-btn-close:focus .mob-menu-btn-icon {
fill:#fff;
    }


.mobil-menu-site-nav .link {
display: block;
text-decoration: none;
text-transform: none;
padding-top: 40px;
padding-left: 25px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 600;
font-size: 36px;
letter-spacing: 0.02em;
line-height: 1.11;
transition: color var(--transition-duration-funct);
}
    
.mobil-menu-site-nav:hover,
.mobil-menu-site-nav:focus {
color: blue;
     }
    
.mobil-menu-auth-nav {
padding-top: 185px;
padding-left: 25px;
display: block;
}

.mobil-menu-auth-nav .link {
display: block;
margin-bottom: 40px;
}

.link-mob-nav-tel {
padding: 0;
margin-bottom: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 1.11;
text-transform: none;
text-decoration: none;
color: #4D5AE5;
}

.mob-menu-container {
display: flex;
flex-direction:  column;

}

.link-mob-nav-mail {
display: block;
margin-top: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
text-transform: none;
text-decoration: none;
color: #434455;
    }


.mobile-info-list {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 56px;
margin: 0;
padding-top: 48px;
padding-bottom: auto;
    }
    
.info-list-item-icon {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color var(--transition-duration-funct);
    }
    
.info-list-item-icon {
fill: #F4F4FD;;
    }
    
.info-list-item-icon:hover,
.sinfo-list-item-icon:focus {
background-color:  #404BBF;
    }

 
    

    /*--------- SECTION HERO ----------- */
 
.hero {
margin: 0;
text-align: center;
width: 100%;
margin-left: auto;
margin-right: auto;
background-position: center;
background-repeat: no-repeat;
        }
                
.hero-title {
margin: 0;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: inherit;
color:#fff;
font-weight: 600;
max-width: 317px;
font-size: 36px;
line-height: 1.11;
text-align: center;
        }   
        
.modal-btn {
display: inline-block;
flex-direction: row;
align-items: center;
padding:  16px 32px;
margin-top: 80px;
outline: none;
color: #fff;
background-color: #4D5AE5;
border-style: none;
font-family: inherit;
min-width: 170px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.04em;
cursor: pointer; 
text-align: center;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
transition: background-color var(--transition-duration-funct),
color var(--transition-duration-funct),
box-shadow var(--transition-duration-funct);
        }        
        
.modal-btn:hover,
.modal-btn:focus {
outline: none;
background-color: #fff;
color: #4D5AE5;
            }

.site-nav {
    display: flex;
    text-decoration: none;
}

.site-nav .link {
    font-family: inherit;
    color: var(--primery-text-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.28;
    transition: color var(--transition-duration-funct);
    }     
    

.site-nav .link:hover,
.site-nav .link:focus {
color: blue;
 }

 .auth-nav .link {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    }
    
            /* --------SECTION BOX --------*/
  
.title-none {
overflow: hidden;
}           

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
overflow: hidden;
} 
                
.box {
padding-top: 95px;
padding-bottom: 95px;
     }

.box-title {
    /* padding-top: 95px; */
margin: 0;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 600;
font-size: 36px;
text-align: center;
line-height: 1.11;  
text-transform: capitalize;
    } 

.box-text {
margin-top: 0;
margin-bottom: 0;
padding-top: 8px;
color: var(--second-text-color);
font-size: 16px;
line-height: 1.2;
    }

.header-main {
        display: flex;
        align-items: center;
    } 

@media screen and (max-width: 1220px) {
    .box-text {
        font-weight: 400;
        }
        
.icon-list {
display: none;
            }

.icon-item {
display: none;
            }   
        
}


@media screen and (max-width: 720px) {
  
}

@media screen and (max-width: 480px) {
    .header-nav {
        display: flex;
        justify-content: space-between;}

    .auth-nav {
        display: none;
    }

    .site-nav {
        display: none;
    } 

    .hero {
padding-top: 112px; 
padding-bottom: 240px;
height: 432px;
background-color: var(--primery-text-color);
background-image: linear-gradient( to right, 
var(--hero-background-rgba), 
var(--hero-background-rgba) ),
url(/images/hero-mob-1.jpg);
}

.box-item {
    margin-bottom: 72px;
}   

.box-item:last-child {
    margin-bottom: 0;
  }

}

@media screen and (maxdevice-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and   (min-resolution: 2dppx) {} 


              /*======= TABLET =======*/
@media screen and (min-width: 481px) and (max-width: 740px) 
{  .container {
width: 720px;
}
    .site-nav {
padding-left: 124px;
gap: 40px;}

.site-nav .item:last-child {
margin-right: 0;
            }
         
.auth-nav {
display: block;
padding-left: 115px;
    }
 
  .hero {
    padding-top: 112px;
    padding-bottom: 203px;
    width: 720px;
    height: 435px;
    background-image: linear-gradient( to right, 
    var(--hero-background-rgba), 
    var(--hero-background-rgba) ),
    url(/images/hero-tab-1.jpg);
    background-color: var(--primery-text-color);
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        text-align: left;
    }

    .box-item {
    width: calc((100% - 24px) / 2)
    }

    }

             /* ===========DESK========= */
@media screen and (min-width: 740px) and (max-width: 1199px) {
  .container 


.hero-title {
    max-width: 1220px;
    font-size: 36px;
    line-height: 1.07;}

}

@media screen and (min-width: 480px) {

    .mob-menu-btn {
        display: none;
    }
    
}

@media screen and (min-width: 720px) {
    .container {
    
    }
 

    .box-title {
        width: 264px;
       }

 
}

@media screen and (min-width: 1220px) {
    .container {
width: 1220px;}

   
    
.logo {
    padding-left: 154px;}
    

.site-nav, .auth-nav {
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

.site-nav {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 177px;
}

.site-nav .item {
margin-right: 40px;
}
.site-nav .item:last-child {
margin-right: 0;}

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    } 
    
    .hero {
        padding-top: 192px;
        padding-bottom: 291px;
        width: 1220px;
        height: 603px;
        background-image: linear-gradient( to right, 
        var(--hero-background-rgba), 
        var(--hero-background-rgba) ),
        url(/images/people-office-1.jpg);
        background-color: var(--primery-text-color);
        }

.box {
    /* padding-top: 120px; */
    display: flex;
    gap: 24px;
    margin: 0;
    padding-left: 0px;
    height: 24px;
    font-size: 20px;
    line-height: 1.2px;
            }

        .icon-list {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 112px;
            min-width: 264px;
            border-radius: 4px;
            background-color:#F4F4FD;;
            margin-bottom: 8px;
            }

            .box-item:nth-child(4n) {
                margin-right: 0;
                        } 
}
     

